@import "../../../styles/styleguide.scss";

@keyframes image {
  0% {
    scale: (1);
  }
  100% {
    scale: (1.2);
  }
}

.container {
  width: 100%;
  border: 1px solid $brown-title;
  margin: 10px 5px 10px 0;
  height: 200px;
  border-radius: 5px;
  display: flex;
  background: $white;

  &:hover {
    cursor: pointer;
    background: rgba(254, 239, 201, 1);
  }

  .imgContainer {
    width: 40%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .item {
      position: absolute;
      top: 0;
      left: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      img {
        width: 100%;
        height: 100%;
      }

      &:hover {
        animation: image 2s forwards;
        -webkit-animation: image 2s forwards;
      }
    }
  }

  .content {
    margin-left: 20px;

    .trait {
      display: flex;

      .title {
        font-size: 1.4rem;
        font-weight: 600;
        margin: 2px 3px 2px 0;
      }

      .value {
        font-size: 1.4rem;
        font-weight: 200;
        margin: 2px 0;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 1.7rem;
  }
  .container {
    height: 140px;
    .imgContainer {
      height: 100%;
      .item {
        height: 100%;
        img {
          height: 100%;
        }
      }
    }
    .content {
      margin-left: 5px;
    }
  }
}
